@page "/browser_wasm_1"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ContainerStorage ContainerStorage
@rendermode InteractiveServer
<h3>Browser Storage Step 1</h3>
<br />
<br />
<input type="text" class="form-control" @bind-value = "data" />
<br />
<br />
<button class="btn btn-primary" @onclick="GoNext">Save Data</button>

@code {
    public string data { get; set; } = string.Empty;
    private void GoNext()
    {
        ContainerStorage.SetMesssage(data);
        NavigationManager.NavigateTo("/browser_wasm_2");
    }
}
