<div class="input-group mb-3 input-width" @attributes="OtherAttributes">
    <input type="text" class="form-control" placeholder="Search Server" @bind-value="serverFilter" @bind-value:event="oninput" />
    <button class="btn btn-outline-secondary" type="button" id="button-search" @onclick="HandleSearchFilterCallback">Search</button>
</div>

@code {

    private string serverFilter { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> SearchFilterCallback { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string,object> OtherAttributes { get; set; }

    public void ClearSearchFilter()
    {
        serverFilter = string.Empty;
    }

    private void HandleSearchFilterCallback()
    {
        SearchFilterCallback.InvokeAsync(serverFilter);
    }
}
