@page "/counter"
<h3>Counter</h3>
<WebAssemblyDemo.Client.Pages.CounterComponent @rendermode="InteractiveServer"></WebAssemblyDemo.Client.Pages.CounterComponent>

<br/>
<br/>
<br/>
<br/>


<WebAssemblyDemo.Client.Pages.CounterComponent @rendermode = "InteractiveServer"></WebAssemblyDemo.Client.Pages.CounterComponent>
@code {

}
